{
    "presets": [
        [
            "@babel/preset-env",
          {
            "targets": {
                "node": "6",
                "browsers": ["last 2 versions", "safari >= 7"]
            },
            // "useBuiltIns": "usage",
          },
        ],
        "@babel/react",
      ],
    "plugins": [
      "@babel/plugin-proposal-class-properties",
      // [
      //   "import",
      //   {
      //     "libraryName": "antd",
      //     "style": "css"
      //   }
      // ],
    ]
}
  